  <div class="card" data-id="{{this.id}}">
    <img class="card-img-top" src={{this.image}}>
    <div class="card-body">
        <a href="{{this.link}}" target="_blank">
            <h4 class="card-title">{{this.title}}</h4>
        </a>
      <br>
         <h3>$ {{this.price}}</h3>
    </div>
  </div>